
<nav class="pagination" role="navigation">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/#blog" title="Previous Page">← Newer Posts</a>
    {% else %}
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/page{{ paginator.previous_page }}/">← Newer Posts</a>
    {% endif %}
  {% endif %}

  <span class="pagination__page-number">Page {{ paginator.page}} of {{ paginator.total_pages}}</span>

  {% if paginator.next_page %}
    <a rel="next" class="posts older btn small" href="{{ site.baseurl }}/page{{ paginator.next_page }}/">Older Posts →</a>
  {% endif %}
</nav>
